@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300&family=Prata&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body{
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #282828;
    color: #fff;
}
.palavra-inicial{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 30%;
}
.jogo{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 20%;
    height: 30%;
}
.input-group{
    min-width: 400px !important;
    height: 10%;
}
#palavra{
    height: 150%;
}
#id{
    width: 100%;
}
.palavra-completa{
    display: flex;
    width: 50%;
    justify-content: center;
    width: 100%;
}
.item{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid #fff;
    min-width: 10%;
    margin: 4px;
    padding: 0px;
    font-size: 22px;
}

.item > span{
    visibility: hidden;
    font-family: 'Space Grotesk', sans-serif;
}

.espaco{
    display: hidden;
    margin: 4px;
    padding: 5px;
}

@keyframes changeTextColor {
    0% {
        color: #990211ec;
    }

    25%{
        color: #b10012ec;
    }

    50% {
        color: #c50014e8;
    }

    75%{
        color: #df051bd7;
    }
    
    100% {
        color: #ff0019f3;
    }
}
.animacao{
    animation: changeTextColor 0.8s infinite;
}
#vidas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text-green{
    color: #13d340;
}
.text-red {
    color: #ff0019f3;
}
.btn-reiniciar{
    background-color: #0d6efd;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.375rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: #0d6efd;
    box-shadow: inset 0 3px 5px rgba(63, 63, 63, 0.24);
    padding: 6px 12px;
    width: auto;
    height: 40px;
    margin-top: 1em;

}
.btn-reiniciar:hover{
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

@media (max-width: 1200px)
{
    .palavra-inicial{
        height: 30vh;
        min-width: 400px !important;
    }
    .fs-3{
        width: 500px;
    }
}
@media (max-width: 768px) {
    .input-group{
        height: 10% !important;
    }
}
@media (max-width: 425px) {
    * {
        font-size: 16px;
    }

    #comecar {
        width: 25% !important;
        height: auto !important;
    }

    #palavra {
        margin-right: 30px;
        height: auto !important;
    }
    .fs-3{
        text-align: center;
        margin-right: 30px;
    }
}
@media (max-width: 375px) {
    * {
        font-size: 16px;
    }
    #comecar{
        width: 25% !important;
        height: auto !important;
        margin-left: 20px;
    }
    #palavra{
        width: auto !important;
        height: auto !important;
        margin-right: 20px;
    }
}
@media (max-width: 320px) {
    * {
        font-size: 16px;
    }

    #comecar {
        width: 25% !important;
        height: auto !important;
        margin-left: 50px;
    }

    #palavra {
        max-width: 190px !important;
        height: auto !important;
        margin-right: 20px;
    }
    .fs-3 {
        margin-left: 20px;
        font-size: 18px !important;
    }
}
